.bgcolor{
    background-color: bisque;
    background-image: url("../images/Minimalist.jpeg") ;
   

}
.txtfont{
    font-size: 32px;
    font-weight: bold;
    color: rgb(97, 92, 92);
    font-style:normal;
}
.txtfont:hover{
    font-size: 50px;
    color: rgb(53, 51, 50);
}